<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @mail_template.body %>
</p>

<p>
  <b>Path:</b>
  <%= @mail_template.path %>
</p>

<p>
  <b>Locale:</b>
  <%= @mail_template.locale %>
</p>


<%= link_to 'Edit', [:edit, @mail_template] %> |
<%= link_to 'Back', :mail_templates %>
